openapi: 3.0.0
info:
  description: This service is designed specifically for change HSA contribution workflow.
  version: 1.0.0
  title: Channel Reimbursement Event  Mobile Widgets Service API
servers:
  - url: 'https://api-dv.ap.alight.com'
    description: Development environment
  - url: 'https://api-qa.ap.alight.com'
    description: Quality Assurance environment
  - url: 'https://api-int-ste.euw-dev.aws.alight.com'
    description: Stress Test environment
  - url: 'https://api-qc.ap.alight.com'
    description: Quality Control environment
  - url: 'https://api.ap.alight.com'
    description: Production environment
  - url: 'http://localhost:8443'
    description: Local Development environment
paths:
  /api/channel/reimbursementeventmobilewidgets/contributionEligibilityWidget:
    get:
      tags:
        - Contribution Widget
      summary: >-
        This method will return page contents for Boost HSA Eligibility Screen
        Contribution Page.
      description: >
        This API endpoint will return screen content of Boost Your HSA
        Eligibility   Page.
      parameters:
        - name: alightPersonSessionToken
          in: header
          description: >-
            Token received from <strong>api/channel/mobileauthentication/logon
            </strong> call.
          schema:
            type: string
          required: true
        - name: alightRequestHeader
          in: header
          description: >-
            Request header which may contain clientId, locale, roleId, and
            channelRequestData.  The channelRequestData can contain srcPlatform
            (indicates source application).  Can use the version returned from
            <strong>/channel/mobileauthentication/logon </strong>call which
            pre-populates the necessary header attributes.
          schema:
            type: string
          required: true
          example:
            clientId: 19968
            locale: en_US
            roleId: '19968_1.0-E:19968_09754_1.0-E:@PPT@'
            channelRequestData:
              srcPlatform: AlightOneMobile
        - name: alightMobileHeader
          in: header
          required: true
          description: |-
            Request header which contains 'version' and 'configSource'. 
              * <strong>version</strong> is the version of the app making the request. 
              * <strong>configSource</strong> is the lifecycle to pull the config from. If not sent, assumes same lifecycle as API endpoint.
          schema:
            type: string
          example:
            version: 4.1.0
            sourceConfig: qa
      responses:
        '200':
          description: API returns Boost Your HSA Eligibility Page content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contributionEligibilityWidget'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error400'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error500'
  /api/channel/reimbursementeventmobilewidgets/chooseContributionWidget:
    post:
      tags:
        - Contribution Widget
      summary: >-
        This method will return page contents for Boost Your HSA Choose
        Contribution Page.
      description: >
        This API endpoint will return screen content of Boost Your HSA Choose  
        Contribution Page.
      parameters:
        - name: alightPersonSessionToken
          in: header
          description: >-
            Token received from <strong>api/channel/mobileauthentication/logon
            </strong> call.
          schema:
            type: string
          required: true
        - name: alightRequestHeader
          in: header
          description: >-
            Request header which may contain clientId, locale, roleId, and
            channelRequestData.  The channelRequestData can contain srcPlatform
            (indicates source application).  Can use the version returned from
            <strong>/channel/mobileauthentication/logon </strong>call which
            pre-populates the necessary header attributes.
          schema:
            type: string
          required: true
          example:
            clientId: 19968
            locale: en_US
            roleId: '19968_1.0-E:19968_09754_1.0-E:@PPT@'
            channelRequestData:
              srcPlatform: AlightOneMobile
        - name: alightMobileHeader
          in: header
          required: true
          description: |-
            Request header which contains 'version' and 'configSource'. 
              * <strong>version</strong> is the version of the app making the request. 
              * <strong>configSource</strong> is the lifecycle to pull the config from. If not sent, assumes same lifecycle as API endpoint.
          schema:
            type: string
          example:
            version: 3.4.0
            sourceConfig: qa
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/chooseContributionRequestSchema'
      responses:
        '200':
          description: API returns Boost Your HSA Choose  Contribution Page content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chooseContributionWidget'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error400'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error500'
  /api/channel/reimbursementeventmobilewidgets/reviewContributionWidget:
    put:
      tags:
        - Contribution Widget
      summary: This method will return page contents for review detail page.
      description: >
        This API endpoint will return screen content of  review detail page.
        This will be overall selection done with new amount, pay per period and 
        when it will be in effect. It will have a reminder details based on
        particular  time.
      parameters:
        - name: alightPersonSessionToken
          in: header
          description: >-
            Token received from <strong>api/channel/mobileauthentication/logon
            </strong> call.
          schema:
            type: string
          required: true
        - name: alightRequestHeader
          in: header
          description: >-
            Request header which may contain clientId, locale, roleId, and
            channelRequestData.  The channelRequestData can contain srcPlatform
            (indicates source application).  Can use the version returned from
            <strong>/channel/mobileauthentication/logon </strong>call which
            pre-populates the necessary header attributes.
          schema:
            type: string
          required: true
          example:
            clientId: 19968
            locale: en_US
            roleId: '19968_1.0-E:19968_09754_1.0-E:@PPT@'
            channelRequestData:
              srcPlatform: AlightOneMobile
        - name: alightMobileHeader
          in: header
          required: true
          description: |-
            Request header which contains 'version' and 'configSource'. 
              * <strong>version</strong> is the version of the app making the request. 
              * <strong>configSource</strong> is the lifecycle to pull the config from. If not sent, assumes same lifecycle as API endpoint.
          schema:
            type: string
          example:
            version: 3.4.0
            sourceConfig: qa
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/reviewContributionSchema'
      responses:
        '200':
          description: This method will return page contents for review detail page.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reviewContributionWidget'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error400'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error500'
  /api/channel/reimbursementeventmobilewidgets/validateContributionWidget/retry:
    put:
      tags:
        - Contribution Widget
      summary: >-
        This method will return edits or error incase of any prerequisite is not
        met or else user can proceed further.
      description: >
        This API will be called when the version is >= 3.4.0. This is an
        intermediate call to get the per pay period amount that user will
        contribute. Internally it calls /reviseElections. These is a chance to
        get Edits in the response of this call from TBA side based on certain 
        scenarios.
      parameters:
        - name: alightPersonSessionToken
          in: header
          description: >-
            Token received from <strong>api/channel/mobileauthentication/logon
            </strong> call.
          schema:
            type: string
          required: true
        - name: alightRequestHeader
          in: header
          description: >-
            Request header which may contain clientId, locale, roleId, and
            channelRequestData.  The channelRequestData can contain srcPlatform
            (indicates source application).  Can use the version returned from
            <strong>/channel/mobileauthentication/logon </strong>call which
            pre-populates the necessary header attributes.
          schema:
            type: string
          required: true
          example:
            clientId: 19968
            locale: en_US
            roleId: '19968_1.0-E:19968_09754_1.0-E:@PPT@'
            channelRequestData:
              srcPlatform: AlightOneMobile
        - name: alightMobileHeader
          in: header
          required: true
          description: |-
            Request header which contains 'version' and 'configSource'. 
              * <strong>version</strong> is the version of the app making the request. 
              * <strong>configSource</strong> is the lifecycle to pull the config from. If not sent, assumes same lifecycle as API endpoint.
          schema:
            type: string
          example:
            version: 3.4.0
            sourceConfig: qa
        - name: retryAction
          in: query
          required: true
          description: >-
            retryAction queryParam is required to identify the action incase in
            any edits or errors occurs.
          schema:
            type: string
          example: '?retry=false'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/validateContributionRequestSchema'
      responses:
        '200':
          description: >-
            This API will be called when the version is >= 3.4.0. This is an
            intermediate call to get the per pay period amount that user will
            contribute. Internally it calls /reviseElections. These is a chance
            to get Edits in the response of this call from TBA side based on
            certain scenarios.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validateContributionSchema'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error400'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error500'
  /api/channel/reimbursementeventmobilewidgets/termsAndConditions:
    post:
      tags:
        - Contribution Widget
      summary: >-
        This method will return page contents for Boost Your HSA Terms and
        Condition Page.
      description: >
        This API endpoint will return screen content of Boost Your HSA Terms  
        and condition Page.
      parameters:
        - name: alightPersonSessionToken
          in: header
          description: >-
            Token received from <strong>api/channel/mobileauthentication/logon
            </strong> call.
          schema:
            type: string
          required: true
        - name: alightRequestHeader
          in: header
          description: >-
            Request header which may contain clientId, locale, roleId, and
            channelRequestData.  The channelRequestData can contain srcPlatform
            (indicates source application).  Can use the version returned from
            <strong>/channel/mobileauthentication/logon </strong>call which
            pre-populates the necessary header attributes.
          schema:
            type: string
          required: true
          example:
            clientId: 19968
            locale: en_US
            roleId: '19968_1.0-E:19968_09754_1.0-E:@PPT@'
            channelRequestData:
              srcPlatform: AlightOneMobile
        - name: alightMobileHeader
          in: header
          required: true
          description: |-
            Request header which contains 'version' and 'configSource'. 
              * <strong>version</strong> is the version of the app making the request. 
              * <strong>configSource</strong> is the lifecycle to pull the config from. If not sent, assumes same lifecycle as API endpoint.
          schema:
            type: string
          example:
            version: 4.1.0
            sourceConfig: qa
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/termsAndConditionsSchema'
      responses:
        '200':
          description: API returns Boost Your HSA Choose  Contribution Page content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/termsAndConditionsWidget'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error400'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error500'
  /api/channel/reimbursementeventmobilewidgets/submitContributionWidget/retry:
    put:
      tags:
        - Contribution Widget
      summary: >-
        This method will return edits or error incase of any prerequisite is not
        met or else user can proceed further and success response will be
        return.
      description: >
        This API will be called when the version is >= 3.4.0. This method will
        submit the user entered updated contribution amount. Internally it calls
        /commit. These is a chance to get Edits in the response of this call
        from TBA side based on certain scenarios
      parameters:
        - name: alightPersonSessionToken
          in: header
          description: >-
            Token received from <strong>api/channel/mobileauthentication/logon
            </strong> call.
          schema:
            type: string
          required: true
        - name: alightRequestHeader
          in: header
          description: >-
            Request header which may contain clientId, locale, roleId, and
            channelRequestData.  The channelRequestData can contain srcPlatform
            (indicates source application).  Can use the version returned from
            <strong>/channel/mobileauthentication/logon </strong>call which
            pre-populates the necessary header attributes.
          schema:
            type: string
          required: true
          example:
            clientId: 19968
            locale: en_US
            roleId: '19968_1.0-E:19968_09754_1.0-E:@PPT@'
            channelRequestData:
              srcPlatform: AlightOneMobile
        - name: alightMobileHeader
          in: header
          required: true
          description: |-
            Request header which contains 'version' and 'configSource'. 
              * <strong>version</strong> is the version of the app making the request. 
              * <strong>configSource</strong> is the lifecycle to pull the config from. If not sent, assumes same lifecycle as API endpoint.
          schema:
            type: string
          example:
            version: 3.4.0
            sourceConfig: qa
        - name: retryAction
          in: query
          required: true
          description: >-
            retryAction queryParam is required to identify the action incase in
            any edits or errors occurs.
          schema:
            type: string
          example: '?retry=false'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitContributionWidgetRequestSchema'
      responses:
        '200':
          description: >-
            This API will be called when the version is >= 3.4.0. This method
            will submit the user entered updated contribution amount. Internally
            it calls /commit. These is a chance to get Edits in the response of
            this call from TBA side based on certain scenarios
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/submitContributionWidgetSchema'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error400'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error500'
  /api/channel/reimbursementeventmobilewidgets/reimbursementClaimDetailsWidget:
    get:
      tags:
        - Claim Submission
      summary: >-
        Get Person Reimbursement plan claim detail screen with entry view
        information.
      description: >
        This API endpoint will return Person Reimbursement event claim detail
        screen. following services
         - Domain API
             - /api/personsmartchoicetransactions/claim/template
      parameters:
        - name: alightPersonSessionToken
          in: header
          description: >-
            Token received from <strong>api/channel/mobileauthentication/logon
            </strong> call.
          schema:
            type: string
          required: true
        - name: alightRequestHeader
          in: header
          description: >-
            Request header which may contain clientId, locale, roleId, and
            channelRequestData.  The channelRequestData can contain srcPlatform
            (indicates source application).  Can use the version returned from
            <strong>/channel/mobileauthentication/logon </strong>call which
            pre-populates the necessary header attributes.
          schema:
            type: string
          required: true
          example:
            clientId: 19943
            locale: en_US
            roleId: '19943_1.0-E:19943_09754_1.0-E:@PPT@'
            channelRequestData:
              srcPlatform: alightonemobile
        - name: alightMobileHeader
          in: header
          required: true
          description: >-
            Alight Mobile Request header which contains 'version' and
            'configSource' and requires BrokerUserId.
              * <strong>version</strong> is the version of the app making the request. 
              * <strong>configSource</strong> is the lifecycle to pull the config from. If not sent, assumes same lifecycle as API endpoint.
              * <strong>brokerUserId</strong> is the application broker.
          schema:
            type: string
          example:
            version: 3.6.0
            configSource: qa
            brokerUserId: AlightOneMobile
        - name: Content-type
          in: header
          description: application/json is the only supported type.
          schema:
            type: string
          example: application/json
        - name: planId
          in: query
          description: Reimbursment plan id for the user
          example: 3500
          schema:
            type: string
          required: false
        - name: planType
          in: query
          description: Reimbursment plan type for the user
          example: 'HLTH,DPND'
          schema:
            type: string
          required: false
        - name: planAdministrator
          in: query
          description: Reimbursment plan Administrator for the user
          example: YSA
          schema:
            type: string
          required: false
      responses:
        '200':
          description: >-
            Successful retrieval of Person Reimbursement claim detail page
            details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reimbursementClaimTemplateDetailWidget'
        '400':
          description: Bad Request due to invalid or missing parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error400'
        '500':
          description: Internal System Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error500'
  /api/channel/reimbursementeventmobilewidgets/reimbursementValidateClaimDetailsWidget/get:
    post:
      tags:
        - Claim Submission
      summary: Get Person Reimbursement plan validate claim detail screen.
      description: >
        This API endpoint will return Person Reimbursement plan validate claim
        detail screen. following services
         - Domain API
             - /api/personsmartchoicetransactions/claim/template
      parameters:
        - name: alightPersonSessionToken
          in: header
          description: >-
            Token received from <strong>api/channel/mobileauthentication/logon
            </strong> call.
          schema:
            type: string
          required: true
        - name: alightRequestHeader
          in: header
          description: >-
            Request header which may contain clientId, locale, roleId, and
            channelRequestData.  The channelRequestData can contain srcPlatform
            (indicates source application).  Can use the version returned from
            <strong>/channel/mobileauthentication/logon </strong>call which
            pre-populates the necessary header attributes.
          schema:
            type: string
          required: true
          example:
            clientId: 19943
            locale: en_US
            roleId: '19943_1.0-E:19943_09754_1.0-E:@PPT@'
            channelRequestData:
              srcPlatform: alightonemobile
        - name: alightMobileHeader
          in: header
          required: true
          description: >-
            Alight Mobile Request header which contains 'version' and
            'configSource' and requires BrokerUserId.
              * <strong>version</strong> is the version of the app making the request. 
              * <strong>configSource</strong> is the lifecycle to pull the config from. If not sent, assumes same lifecycle as API endpoint.
              * <strong>brokerUserId</strong> is the application broker.
          schema:
            type: string
          example:
            version: 3.6.0
            configSource: qa
            brokerUserId: AlightOneMobile
        - name: Content-type
          in: header
          description: application/json is the only supported type.
          schema:
            type: string
          example: application/json
        - name: planId
          in: query
          description: Reimbursment plan id for the user
          example: 3500
          schema:
            type: string
          required: false
        - name: planType
          in: query
          description: Reimbursment plan type for the user
          example: 'HLTH,DPND'
          schema:
            type: string
          required: false
        - name: planAdministrator
          in: query
          description: Reimbursment plan Administrator for the user
          example: YSA
          schema:
            type: string
          required: false
      requestBody:
        description: Request body containing transaction details for the given activity.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/reimbursementValidateClaimRequestWidget'
      responses:
        '200':
          description: >-
            Successful retrieval of Person Reimbursement validate claim page
            details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reimbursementValidateClaimWidget'
        '400':
          description: Bad Request due to invalid or missing parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reimbursementValidateClaim400'
        '500':
          description: Internal System Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error500'
  /api/channel/reimbursementeventmobilewidgets/reimbursementSubmitClaimWidget:
    post:
      tags:
        - Claim Submission
      summary: Get Person Reimbursement plan submit claim detail screen.
      description: >
        This API endpoint will return Person Reimbursement plan submit claim
        screen. following services
         - Domain API
             - /api/personsmartchoicetransactions/claim/submit
      parameters:
        - name: alightPersonSessionToken
          in: header
          description: >-
            Token received from <strong>api/channel/mobileauthentication/logon
            </strong> call.
          schema:
            type: string
          required: true
        - name: alightRequestHeader
          in: header
          description: >-
            Request header which may contain clientId, locale, roleId, and
            channelRequestData.  The channelRequestData can contain srcPlatform
            (indicates source application).  Can use the version returned from
            <strong>/channel/mobileauthentication/logon </strong>call which
            pre-populates the necessary header attributes.
          schema:
            type: string
          required: true
          example:
            clientId: 19943
            locale: en_US
            roleId: '19943_1.0-E:19943_09754_1.0-E:@PPT@'
            channelRequestData:
              srcPlatform: alightonemobile
        - name: alightMobileHeader
          in: header
          required: true
          description: >-
            Alight Mobile Request header which contains 'version' and
            'configSource' and requires BrokerUserId.
              * <strong>version</strong> is the version of the app making the request. 
              * <strong>configSource</strong> is the lifecycle to pull the config from. If not sent, assumes same lifecycle as API endpoint.
              * <strong>brokerUserId</strong> is the application broker.
          schema:
            type: string
          example:
            version: 3.6.0
            configSource: qa
            brokerUserId: AlightOneMobile
        - name: Content-type
          in: header
          description: application/json is the only supported type.
          schema:
            type: string
          example: application/json
        - name: planId
          in: query
          description: Reimbursment plan id for the user
          example: 3500
          schema:
            type: string
          required: false
        - name: planType
          in: query
          description: Reimbursment plan type for the user
          example: 'HLTH,DPND'
          schema:
            type: string
          required: false
        - name: planAdministrator
          in: query
          description: Reimbursment plan Administrator for the user
          example: YSA
          schema:
            type: string
          required: false
      requestBody:
        description: Request body containing transaction details for the given activity.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/reimbursementSubmitClaimRequestWidget'
      responses:
        '200':
          description: >-
            Successful retrieval of Person Reimbursement submit claim page
            details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reimbursementSubmitClaimWidget'
        '500':
          description: Internal System Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error500'
  /api/channel/reimbursementeventmobilewidgets/reimbursementClaimSubmission:
    post:
      tags:
        - Claim Submission
      summary: Get Person Reimbursement claim submission screen.
      description: >
        This API endpoint will return Person Reimbursement plan submit claim
        screen. following services
         - Domain API
             - /api/personsmartchoicetransactions/claim/submission
      parameters:
        - name: alightPersonSessionToken
          in: header
          description: >-
            Token received from <strong>api/channel/mobileauthentication/logon
            </strong> call.
          schema:
            type: string
          required: true
        - name: alightRequestHeader
          in: header
          description: >-
            Request header which may contain clientId, locale, roleId, and
            channelRequestData.  The channelRequestData can contain srcPlatform
            (indicates source application).  Can use the version returned from
            <strong>/channel/mobileauthentication/logon </strong>call which
            pre-populates the necessary header attributes.
          schema:
            type: string
          required: true
          example:
            clientId: 19943
            locale: en_US
            roleId: '19943_1.0-E:19943_09754_1.0-E:@PPT@'
            channelRequestData:
              srcPlatform: alightonemobile
        - name: alightMobileHeader
          in: header
          required: true
          description: >-
            Alight Mobile Request header which contains 'version' and
            'configSource' and requires BrokerUserId.
              * <strong>version</strong> is the version of the app making the request. 
              * <strong>configSource</strong> is the lifecycle to pull the config from. If not sent, assumes same lifecycle as API endpoint.
              * <strong>brokerUserId</strong> is the application broker.
          schema:
            type: string
          example:
            version: 3.6.0
            configSource: qa
            brokerUserId: AlightOneMobile
        - name: Content-type
          in: header
          description: application/json is the only supported type.
          schema:
            type: string
          example: application/json
        - name: planId
          in: query
          description: Reimbursment plan id for the user
          example: 3500
          schema:
            type: string
          required: false
        - name: planType
          in: query
          description: Reimbursment plan type for the user
          example: 'HLTH,DPND'
          schema:
            type: string
          required: false
        - name: planAdministrator
          in: query
          description: Reimbursment plan Administrator for the user
          example: YSA
          schema:
            type: string
          required: false
      requestBody:
        description: Request body containing transaction details for the given activity.
        content:
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/reimbursementClaimSubmissionMultiPartRequestWidget
          application/json:
            schema:
              $ref: '#/components/schemas/reimbursementSubmitClaimRequestWidget'
      responses:
        '200':
          description: >-
            Successful retrieval of Person Reimbursement submit claim page
            details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reimbursementSubmitClaimWidget'
        '500':
          description: Internal System Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error500'
  /api/channel/reimbursementeventmobilewidgets/reimbursementProviderDetailWidget:
    get:
      tags:
        - Claim Submission
      summary: Get Person Reimbursement provider detail screen.
      description: >
        This API endpoint will return Person Reimbursement event provider detail
        screen. following services
         - Domain API
             - /api/personsmartchoicetransactions/claim/provider
      parameters:
        - name: alightPersonSessionToken
          in: header
          description: >-
            Token received from <strong>api/channel/mobileauthentication/logon
            </strong> call.
          schema:
            type: string
          required: true
        - name: alightRequestHeader
          in: header
          description: >-
            Request header which may contain clientId, locale, roleId, and
            channelRequestData.  The channelRequestData can contain srcPlatform
            (indicates source application).  Can use the version returned from
            <strong>/channel/mobileauthentication/logon </strong>call which
            pre-populates the necessary header attributes.
          schema:
            type: string
          required: true
          example:
            clientId: 19943
            locale: en_US
            roleId: '19943_1.0-E:19943_09754_1.0-E:@PPT@'
            channelRequestData:
              srcPlatform: alightonemobile
        - name: alightMobileHeader
          in: header
          required: true
          description: >-
            Alight Mobile Request header which contains 'version' and
            'configSource' and requires BrokerUserId.
              * <strong>version</strong> is the version of the app making the request. 
              * <strong>configSource</strong> is the lifecycle to pull the config from. If not sent, assumes same lifecycle as API endpoint.
              * <strong>brokerUserId</strong> is the application broker.
          schema:
            type: string
          example:
            version: 3.6.0
            configSource: qa
            brokerUserId: AlightOneMobile
        - name: Content-type
          in: header
          description: application/json is the only supported type.
          schema:
            type: string
          example: application/json
        - name: planId
          in: query
          description: Reimbursment plan id for the user
          example: 3500
          schema:
            type: string
          required: false
        - name: planType
          in: query
          description: Reimbursment plan type for the user
          example: 'HLTH,DPND'
          schema:
            type: string
          required: false
        - name: planAdministrator
          in: query
          description: Reimbursment plan Administrator for the user
          example: YSA
          schema:
            type: string
          required: false
        - name: serviceProvider
          in: query
          description: Reimbursment service Provider for the user
          example: Test
          schema:
            type: string
          required: false
      responses:
        '200':
          description: >-
            Successful retrieval of Person Reimbursement provider detail page
            details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reimbursementProviderDetailWidget'
        '400':
          description: Bad Request due to invalid or missing parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error400'
        '500':
          description: Internal System Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error500'
  /api/channel/reimbursementeventmobilewidgets/reimbursementSubmitProviderDetailWidget:
    post:
      tags:
        - Claim Submission
      summary: Get Person Reimbursement provider submit screen.
      description: >
        This API endpoint will return Person Reimbursement provider submit
        screen. following services
         - Domain API
             - /api/personsmartchoicetransactions/claim/provider
      parameters:
        - name: alightPersonSessionToken
          in: header
          description: >-
            Token received from <strong>api/channel/mobileauthentication/logon
            </strong> call.
          schema:
            type: string
          required: true
        - name: alightRequestHeader
          in: header
          description: >-
            Request header which may contain clientId, locale, roleId, and
            channelRequestData.  The channelRequestData can contain srcPlatform
            (indicates source application).  Can use the version returned from
            <strong>/channel/mobileauthentication/logon </strong>call which
            pre-populates the necessary header attributes.
          schema:
            type: string
          required: true
          example:
            clientId: 19943
            locale: en_US
            roleId: '19943_1.0-E:19943_09754_1.0-E:@PPT@'
            channelRequestData:
              srcPlatform: alightonemobile
        - name: alightMobileHeader
          in: header
          required: true
          description: >-
            Alight Mobile Request header which contains 'version' and
            'configSource' and requires BrokerUserId.
              * <strong>version</strong> is the version of the app making the request. 
              * <strong>configSource</strong> is the lifecycle to pull the config from. If not sent, assumes same lifecycle as API endpoint.
              * <strong>brokerUserId</strong> is the application broker.
          schema:
            type: string
          example:
            version: 3.6.0
            configSource: qa
            brokerUserId: AlightOneMobile
        - name: Content-type
          in: header
          description: application/json is the only supported type.
          schema:
            type: string
          example: application/json
        - name: planId
          in: query
          description: Reimbursment plan id for the user
          example: 3500
          schema:
            type: string
          required: false
        - name: planType
          in: query
          description: Reimbursment plan type for the user
          example: 'HLTH,DPND'
          schema:
            type: string
          required: false
        - name: planAdministrator
          in: query
          description: Reimbursment plan Administrator for the user
          example: YSA
          schema:
            type: string
          required: false
      requestBody:
        description: Request body containing transaction details for the given activity.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/reimbursementSubmitProviderRequestWidget'
      responses:
        '200':
          description: >-
            Successful retrieval of Person Reimbursement provider submit page
            details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reimbursementSubmitProviderWidget'
        '500':
          description: Internal System Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error500'
  /api/channel/reimbursementeventmobilewidgets/claim/document:
    post:
      tags:
        - Claim Document
      summary: Get Person Reimbursement claim add/upload document screen.
      description: >
        This API endpoint will return Person Reimbursement claim add/upload
        document screen. following services
         - Domain API
             - /api/personsmartchoicetransactions/claim/upload
      parameters:
        - name: alightPersonSessionToken
          in: header
          description: >-
            Token received from <strong>api/channel/mobileauthentication/logon
            </strong> call.
          schema:
            type: string
          required: true
        - name: alightRequestHeader
          in: header
          description: >-
            Request header which may contain clientId, locale, roleId, and
            channelRequestData.  The channelRequestData can contain srcPlatform
            (indicates source application).  Can use the version returned from
            <strong>/channel/mobileauthentication/logon </strong>call which
            pre-populates the necessary header attributes.
          schema:
            type: string
          required: true
          example:
            clientId: 19943
            locale: en_US
            roleId: '19943_1.0-E:19943_09754_1.0-E:@PPT@'
            channelRequestData:
              srcPlatform: alightonemobile
        - name: alightMobileHeader
          in: header
          required: true
          description: >-
            Alight Mobile Request header which contains 'version' and
            'configSource' and requires BrokerUserId.
              * <strong>version</strong> is the version of the app making the request. 
              * <strong>configSource</strong> is the lifecycle to pull the config from. If not sent, assumes same lifecycle as API endpoint.
              * <strong>brokerUserId</strong> is the application broker.
          schema:
            type: string
          example:
            version: 3.6.0
            configSource: qa
            brokerUserId: AlightOneMobile
        - name: Content-type
          in: header
          description: application/json is the only supported type.
          schema:
            type: string
          example: application/json
        - name: totalFileSize
          in: query
          description: total File Size for the document
          example: 1
          schema:
            type: integer
          required: false
        - name: totalPdfPages
          in: query
          description: total Pdf Pages for the document
          example: '12'
          schema:
            type: string
          required: false
        - name: planAdministrator
          in: query
          description: Reimbursment plan Administrator for the user
          example: YSA
          schema:
            type: string
          required: false
        - name: docSeqNo
          in: query
          description: doc Seq No
          example: '19968492200090168'
          schema:
            type: string
          required: false
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                Image:
                  type: string
                  format: binary
      responses:
        '200':
          description: >-
            Successful upload the image/document for Person Reimbursement submit
            claim.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reimbursementClaimAddDocumentWidget'
        '500':
          description: Internal System Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error500'
    delete:
      tags:
        - Claim Document
      summary: Get Person Reimbursement claim remove document screen.
      description: >
        This API endpoint will return Person Reimbursement claim remove document
        screen. following services
         - Domain API
             - /api/personsmartchoicetransactions/claim/remove
      parameters:
        - name: alightPersonSessionToken
          in: header
          description: >-
            Token received from <strong>api/channel/mobileauthentication/logon
            </strong> call.
          schema:
            type: string
          required: true
        - name: alightRequestHeader
          in: header
          description: >-
            Request header which may contain clientId, locale, roleId, and
            channelRequestData.  The channelRequestData can contain srcPlatform
            (indicates source application).  Can use the version returned from
            <strong>/channel/mobileauthentication/logon </strong>call which
            pre-populates the necessary header attributes.
          schema:
            type: string
          required: true
          example:
            clientId: 19943
            locale: en_US
            roleId: '19943_1.0-E:19943_09754_1.0-E:@PPT@'
            channelRequestData:
              srcPlatform: alightonemobile
        - name: alightMobileHeader
          in: header
          required: true
          description: >-
            Alight Mobile Request header which contains 'version' and
            'configSource' and requires BrokerUserId.
              * <strong>version</strong> is the version of the app making the request. 
              * <strong>configSource</strong> is the lifecycle to pull the config from. If not sent, assumes same lifecycle as API endpoint.
              * <strong>brokerUserId</strong> is the application broker.
          schema:
            type: string
          example:
            version: 3.6.0
            configSource: qa
            brokerUserId: AlightOneMobile
        - name: Content-type
          in: header
          description: application/json is the only supported type.
          schema:
            type: string
          example: application/json
      requestBody:
        description: Request body containing request to delete the single document.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/reimbursementRemoveDocRequestWidget'
      responses:
        '200':
          description: >-
            Successful retrieval of Person Reimbursement claim remove documment
            details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reimbursementClaimRemoveDocWidget'
        '500':
          description: Internal System Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error500'
  /api/channel/reimbursementeventmobilewidgets/claim/documents:
    delete:
      tags:
        - Claim Document
      summary: >-
        Get Person Reimbursement claim remove all document from temp location
        screen.
      description: >
        This API endpoint will return Person Reimbursement claim remove all
        document screen. following services
         - Domain API
             - /api/personsmartchoicetransactions/claim/cancel
      parameters:
        - name: alightPersonSessionToken
          in: header
          description: >-
            Token received from <strong>api/channel/mobileauthentication/logon
            </strong> call.
          schema:
            type: string
          required: true
        - name: alightRequestHeader
          in: header
          description: >-
            Request header which may contain clientId, locale, roleId, and
            channelRequestData.  The channelRequestData can contain srcPlatform
            (indicates source application).  Can use the version returned from
            <strong>/channel/mobileauthentication/logon </strong>call which
            pre-populates the necessary header attributes.
          schema:
            type: string
          required: true
          example:
            clientId: 19943
            locale: en_US
            roleId: '19943_1.0-E:19943_09754_1.0-E:@PPT@'
            channelRequestData:
              srcPlatform: alightonemobile
        - name: alightMobileHeader
          in: header
          required: true
          description: >-
            Alight Mobile Request header which contains 'version' and
            'configSource' and requires BrokerUserId.
              * <strong>version</strong> is the version of the app making the request. 
              * <strong>configSource</strong> is the lifecycle to pull the config from. If not sent, assumes same lifecycle as API endpoint.
              * <strong>brokerUserId</strong> is the application broker.
          schema:
            type: string
          example:
            version: 3.6.0
            configSource: qa
            brokerUserId: AlightOneMobile
        - name: Content-type
          in: header
          description: application/json is the only supported type.
          schema:
            type: string
          example: application/json
      requestBody:
        description: Request body containing request to delete all the images.
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/reimbursementRemoveAllDocRequestWidget'
      responses:
        '200':
          description: >-
            Successful retrieval of Person Reimbursement claim remove all
            documment details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reimbursementClaimRemoveAllDocWidget'
        '500':
          description: Internal System Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error500'
components:
  examples:
    request-header:
      summary: Example of alight-request-header parameter
      value:
        clientId: 19968
        locale: en_US
        roleId: '19968_1.0-E:19968_09754_1.0-E:@PPT@'
        channelRequestData: null
        srcPlatform: AlightOneMobile
  schemas:
    error400:
      type: object
      properties:
        errorCode:
          type: string
          description: This field return error code
          example: MA000400
        errorMsg:
          type: string
          description: This field will returns error message
          example: Invalid/missing input parameter(s)
        globalSessionId:
          type: string
          description: This fields returns ststus of success
          example: b871b448-25d2-4b32-b07c-adadc7e3fcbd_2020-10-19-03.34.29.354000
    error500:
      type: object
      properties:
        errorCode:
          type: string
          description: This field return error code
          example: MA000500
        errorMsg:
          type: string
          description: This field will returns error message
          example: Internal system error
        globalSessionId:
          type: string
          description: This fields returns globalSessionId of the request
          example: b871b448-25d2-4b32-b07c-adadc7e3fcbd_2020-10-19-03.34.29.354000
    chooseContributionRequestSchema:
      type: object
      properties:
        planId:
          type: string
          example: 3500_HSA
        planType:
          type: string
          example: healthSavingsAccount
        contributionSourceId:
          type: string
          example: 300
        transactionId:
          type: string
          example: 4030
        businessProcessReferenceId:
          type: string
          example: 386710057
    termsAndConditionsSchema:
      type: object
      properties:
        planId:
          type: string
          example: 3500_HSA
        planType:
          type: string
          example: healthSavingsAccount
        contributionSourceId:
          type: string
          example: 300
        transactionId:
          type: string
          example: 4030
        businessProcessReferenceId:
          type: string
          example: 404400028
        vendorCode:
          type: string
          example: PNC
        vendorId:
          type: string
          example: 0
        termsAndConditionsType:
          type: string
          example: Neither
    validateContributionRequestSchema:
      type: object
      properties:
        planId:
          type: string
          description: HSA plan Id
          example: 3500_HSA
        planType:
          type: string
          description: HSA Plan Type
          example: healthSavingsAccount
        contributionSourceId:
          type: string
          description: contribution Source Id for the plan
          example: 300
        transactionId:
          type: string
          description: unique transaction Id
          example: 4030
        businessProcessReferenceId:
          type: string
          description: >-
            This is the business Process Reference Id used to validate the plan
            requirement
          example: 292400012
        actualAmount:
          type: integer
          description: This will the new annual amount entered in textbox
          example: 700
    reviewContributionSchema:
      type: object
      properties:
        planId:
          type: string
          example: 3500_HSA
        planType:
          type: string
          example: healthSavingsAccount
        contributionSourceId:
          type: string
          example: 300
        transactionId:
          type: string
          example: 4030
        businessProcessReferenceId:
          type: string
          example: 421300081
        actualAmount:
          type: integer
          format: int32
          example: 1000
        questionnaires:
          type: array
          items:
            type: object
            properties:
              creditsAndSurchargesId:
                type: string
                example: 0
              questions:
                type: array
                items:
                  type: object
                  properties:
                    personInternalId:
                      type: string
                      example: 5100041
                    effectiveDate:
                      type: string
                      format: date
                      example: 2022-11-30T00:00:00.000Z
                    questionsTransactionId:
                      type: string
                      example: 100022
                    questionsId:
                      type: string
                      example: HSA-ELEC-CNS-CD
                    answersValue:
                      type: string
                      example: 'N'
    reviewContributionWidget:
      type: object
      description: Returns object of with review details
      properties:
        pageTitle:
          type: string
          description: this will be the page title for review screen
          example: Change your contribution
        pageHeader:
          type: object
          properties:
            progress:
              type: object
              properties:
                completedPercentage:
                  type: integer
                  description: >-
                    This workflow currently has two steps. This will be usefull
                    to show progress on screen.
                  example: 100
                totalPercentage:
                  type: integer
                  description: This will be useful to show current progress on screen
                  example: 100
                completedBarColor:
                  type: string
                  description: This will be used to fill progressbar collor
                  example: '#117400'
            title:
              type: string
              description: Screen title
              example: Review details
        annualContribution:
          type: object
          properties:
            header:
              type: object
              properties:
                titleText:
                  type: string
                  description: Annual contribution label text
                  example: Annual contribution
                perPayPeriodContributionAmount:
                  type: string
                  description: New pay per period for new Annual contribution
                  example: '{0} per pay period'
            payPeriodContributionDescription:
              type: string
              description: Informational text with effective date
              example: >-
                Effective <b>{0}</b>, your new contribution rate will take
                effect during your next pay period.
        rowExpantion:
          type: object
          properties:
            rowTitle:
              type: string
              description: Reminder title text
              example: End of year reminder
            rowDescriptionList:
              type: array
              items:
                type: object
                properties:
                  descriptionText:
                    type: string
                    description: This will be the reminder description.
                    example: >-
                      Keep in mind, the annual goal amount you choose will be
                      taken from your remaining pay periods this year.  If you
                      are enrolling in October or November, the amount may be
                      taken from 1-4 pay checks.
            icon:
              type: object
              properties:
                id:
                  type: string
                  description: Icon name
                  example: exclamation_circle
                color:
                  type: string
                  description: Icon color
                  example: icon_error
        termsAndConditionsText:
          type: string
        link:
          type: object
          properties:
            linkDisplayText:
              type: string
              description: This is the link lable text
              example: Submit
            linkHref:
              type: string
              description: This will be link href
              example: YSAHSAContributionSuccessView
            linkType:
              type: string
              description: describe the type of link
              example: app
            linkTarget:
              type: string
              description: describe the link target
              example: primary
            displayLinkIcon:
              type: boolean
              description: link icon to be shown
              example: false
    contributionEligibilityWidget:
      type: object
      description: Returns object of Boost HSA Eligibility Screen page
      properties:
        pageTitle:
          type: string
          example: Change your contribution
        messageContent:
          type: array
          items:
            type: object
            properties:
              messageType:
                type: string
                example: header
              messages:
                type: array
                items:
                  type: object
                  properties:
                    messageText:
                      type: string
                      example: Health Savings Account Eligibility
        planDetails:
          type: object
          properties:
            planId:
              type: string
              example: 3500_HSA
            planType:
              type: string
              example: healthSavingsAccount
            contributionSourceId:
              type: string
              example: 300
            transactionId:
              type: string
              example: 4030
            businessProcessReferenceId:
              type: string
              example: 386710057
        validSelection:
          type: object
          properties:
            link:
              type: object
              properties:
                linkDisplayText:
                  type: string
                  example: Continue
                linkHref:
                  type: string
                  example: YSAHSAContributionEnterView
                linkType:
                  type: string
                  example: app
                linkTarget:
                  type: string
                  example: primary
                displayLinkIcon:
                  type: boolean
            message:
              type: string
              example: You're eligible to enroll in the Health Savings Account.
            icon:
              type: object
              properties:
                id:
                  type: string
                  example: checkmark_circle
                color:
                  type: string
                  example: icon_success
            background:
              type: string
              example: '#e6f6e1'
        invalidSelection:
          type: object
          properties:
            link:
              type: object
              properties:
                linkDisplayText:
                  type: string
                  example: Return to HSA
                linkHref:
                  type: string
                  example: YSAPlanDetailsView
                linkType:
                  type: string
                  example: app
                linkTarget:
                  type: string
                  example: primary
                displayLinkIcon:
                  type: boolean
            message:
              type: string
              example: >-
                Unfortunately you are <b>not</b> eligible for the Health Savings
                Account. Consider contributing to a Health Care Spending Account
                instead.
            icon:
              type: object
              properties:
                id:
                  type: string
                  example: circle_xmark
                color:
                  type: string
                  example: icon_error
            background:
              type: string
              example: '#fdebec'
    chooseContributionWidget:
      type: object
      description: Returns object of Choose  Contribution page
      properties:
        pageTitle:
          type: string
          description: This will be the page title for the choose contribution page
          example: Change your contribution
        pageHeader:
          type: object
          properties:
            progress:
              type: object
              properties:
                completedPercentage:
                  type: integer
                  description: >-
                    This workflow currently has two steps. This will be usefull
                    to show progress on screen.
                  example: 50
                totalPercentage:
                  type: integer
                  description: This will be useful to show current progress on screen
                  example: 100
                completedBarColor:
                  type: string
                  description: This will be used to fill progressbar collor
                  example: '#117400'
            title:
              type: string
              description: This will be the textbox label
              example: Enter a new amount
            currentContributionText:
              type: string
              description: This is informational text which state the current contribution
              example: Your current contribution per pay period is <b>$56.25</b>
        annualContribution:
          type: object
          properties:
            titleText:
              type: string
              description: This will be textbox placeholder
              example: Annual contribution*
            currencySymbol:
              type: string
              description: This will be for currency type
              example: $
            contributionRangeText:
              type: string
              description: This will be the  range for the amount to be entered between.
              example: 'You can contribute between $0.00 and $3,319.00'
            electedPerPayPeriodText:
              type: string
              description: >-
                This will be the amount entered in textbox and new pay per
                period will be displayed with the text
              example: Your contribution per pay period will be <b>$</b>
            effectiveDateText:
              type: string
              description: >-
                This will be the date when new pay per period will take effect
                in text format
              example: 'Effective as of November 1, 2022'
            effectiveDate:
              type: string
              description: >-
                This will be the date when new pay per period will take effect
                in text format
              example: 'November 1, 2022'
        validationFields:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: This will be used for which field to be validated
                example: AMOUNT
              types:
                type: array
                items:
                  type: string
                  description: Type of validation
                  example: MANDATORY
        validations:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                description: Type of validation
                example: MANDATORY
              message:
                type: string
                description: Validation message
                example: This field is required
        link:
          type: object
          properties:
            linkDisplayText:
              type: string
              description: This is the link lable text
              example: continue
            linkHref:
              type: string
              description: This will be link href
              example: YSAHSAContributionReviewDetailsView
            linkType:
              type: string
              description: describe the type of link
              example: app
            linkTarget:
              type: string
              description: describe the link target
              example: primary
            displayLinkIcon:
              type: boolean
              description: link icon to be shown
              example: false
        planDetails:
          type: object
          properties:
            planId:
              type: string
              description: HSA plan Id
              example: 3500_HSA
            planType:
              type: string
              description: HSA Plan Type
              example: healthSavingsAccount
            contributionSourceId:
              type: string
              description: contribution Source Id for the plan
              example: 300
            transactionId:
              type: string
              description: unique transaction Id
              example: 4030
            businessProcessReferenceId:
              type: string
              description: >-
                This is the business Process Reference Id used to validate the
                plan requirement
              example: 292400012
    validateContributionSchema:
      type: object
      description: >-
        Returns object with new pay per period if all the prerequisite is met or
        else errors and edits will be return.
      properties:
        actualAdjustedAnnualContributionAmountText:
          type: string
          description: This will the new pay per period amount appended to label.
          example: Your contribution per pay period will be <b>$81.25</b>
        adjustedContributionAmount:
          type: string
          description: This will the new pay per period amount.
          example: $81.25
        edits:
          type: string
          description: this will be used to identify if there is any edits.
          example: false
    submitContributionWidgetRequestSchema:
      type: object
      properties:
        planId:
          type: string
          description: HSA plan Id
          example: 3500_HSA
        planType:
          type: string
          description: HSA Plan Type
          example: healthSavingsAccount
        contributionSourceId:
          type: string
          description: contribution Source Id for the plan
          example: 300
        transactionId:
          type: string
          description: unique transaction Id
          example: 4030
        businessProcessReferenceId:
          type: string
          description: >-
            This is the business Process Reference Id used to validate the plan
            requirement
          example: 292400012
        actualAmount:
          type: integer
          description: This will the new annual amount entered in textbox
          example: 700
    submitContributionWidgetSchema:
      type: object
      properties:
        title:
          type: string
          description: This is the informational message
          example: Your HSA contribution has been updated!
        imageUrl:
          type: string
          description: Success image
          example: >-
            https://upoint-dv.alight.com/cloudcms/Base/master/Documents/Mobile/Images/Glows%20Cropped.svg
        annualContribution:
          type: object
          properties:
            header:
              type: object
              properties:
                titleText:
                  type: string
                  description: This is the informational message
                  example: Annual contribution
                totalAmount:
                  type: string
                  description: This is the informational message stating new total amount
                  example: $700.00
                perPayPeriodContributionAmount:
                  type: string
                  description: This is the informational message stating new pay per period
                  example: $81.25 per pay period
            payPeriodContributionDescription:
              type: string
              description: This is the informational message stating new pay per period
              example: >-
                Effective <b>November 1, 2022</b>, your new contribution rate
                will take effect during your next pay period.
        link:
          type: object
          properties:
            linkDisplayText:
              type: string
              description: This is the link lable text
              example: Submit
            linkHref:
              type: string
              description: This will be link href
              example: YSAHSAContributionSuccessView
            linkType:
              type: string
              description: describe the type of link
              example: app
            linkTarget:
              type: string
              description: describe the link target
              example: primary
            displayLinkIcon:
              type: boolean
              description: link icon to be shown
              example: false
        edits:
          type: string
          description: this will be used to identify if there is any edits.
          example: false
    termsAndConditionsWidget:
      type: object
      properties:
        commonPageHeader:
          type: object
          properties:
            progress:
              type: object
              properties:
                completedPercentage:
                  type: integer
                  format: int32
                  example: 67
                totalPercentage:
                  type: integer
                  format: int32
                  example: 100
                completedBarColor:
                  type: string
                  example: null
            title:
              type: string
              example: Terms and Conditions
        messageContent:
          type: array
          items:
            type: object
            properties:
              messageType:
                type: string
                example: header
              messages:
                type: array
                items:
                  type: object
                  properties:
                    messageText:
                      type: string
                      example: Eligibility
        link:
          type: array
          items:
            type: object
            properties:
              linkDisplayText:
                type: string
                example: Accept
              linkHref:
                type: string
                example: YSAHSAContributionReviewDetailsView
              linkType:
                type: string
                example: app
              linkTarget:
                type: string
                example: primary
              displayLinkIcon:
                type: boolean
        error:
          type: array
          items:
            type: object
            properties:
              errorCode:
                type: string
                example: DECLINE
              errorMsg:
                type: string
                example: >-
                  An account wont be opened for you and you wont receive the
                  employer contribution.
              globalSessionId:
                type: string
                example: >-
                  14f85444-e312-4459-ab85-ebc38a23749d_2023-02-22-06.34.25.385000
              error:
                type: string
                example: true
              errorTitle:
                type: string
                example: Are you sure you want to decline?
              actions:
                type: array
                items:
                  type: object
                  properties:
                    label:
                      type: string
                      example: No cancel
    reimbursementClaimTemplateDetailWidget:
      type: object
      properties:
        pageTitle:
          type: string
          description: This field will returns plan title text
          example: Submit Dependent Care Claim
        pageHeader:
          type: object
          properties:
            title:
              type: string
              description: This field will returns plan title sub text
              example: Claim Details
            progress:
              type: object
              properties:
                totalPercentage:
                  type: string
                  description: This field contains total value of progess bar
                  example: 1
                completedPercentage:
                  type: string
                  description: This field contains completed Value of progess bar
                  example: 0.35
                barColor:
                  type: string
                  description: This field contains bar Color of progess bar
                  example: null
                completedBarColor:
                  type: string
                  description: This field contains completed Color of progess bar
                  example: null
        claimSubmissionEligibility:
          type: object
          description: This field will returns claim Submission Eligibility
          required:
            - payToProvider
            - documentUploadSupported
            - esignatureSupported
            - reimbursementMethod
            - recurringClaimSupported
          properties:
            payToProvider:
              type: string
              example: true
            documentUploadSupported:
              type: string
              example: true
            esignatureSupported:
              type: string
              example: true
            reimbursementMethod:
              type: string
              example: DD
            recurringClaimSupported:
              type: string
              example: true
        claimSubmissionDetailsModule:
          type: object
          description: This field will returns claim Submission detail module
          properties:
            moduleHeader:
              type: object
              description: This field will returns module header section
              required:
                - imageUrl
                - headerText
                - subHeaderText
              properties:
                imageUrl:
                  type: string
                  example: >-
                    https://icon-library.com/images/google-forms-icon/google-forms-icon-15.jpg
                headerText:
                  type: string
                  example: Lets get started!
                subHeaderText:
                  type: string
                  example: 'Please enter your claim details below:'
            moduleDetails:
              type: object
              description: >-
                moduleDetails field is for showing all the fields based on API
                response.
              properties:
                displayableFields:
                  type: array
                  description: displayableFields is for showing label and type of field.
                  items:
                    required:
                      - template
                      - titleText
                      - originalFieldName
                      - isMandatory
                    properties:
                      template:
                        type: string
                        description: This field contains the template of field
                        example: PickerEntryTemplate
                      titleText:
                        type: string
                        description: This field contains the title Text
                        example: Type of service*
                      originalFieldName:
                        type: string
                        description: This field contains the original Field Name
                        example: SV-TYPE-CD-LDSC-TX
                      isMandatory:
                        type: string
                        description: This field contains the Mandatory field flag
                        example: 'true'
                      validationErrorMessages:
                        type: array
                        items:
                          properties:
                            type:
                              type: string
                              description: This field contains Type of error message
                              example: MANDATORY.
                            message:
                              type: string
                              description: This field contains invalid error message
                              example: End date should be less than Begin date.
                      validValues:
                        type: array
                        description: >-
                          This is for showing values of type of service drop
                          down.
                        items:
                          required:
                            - id
                            - displayName
                          properties:
                            id:
                              type: string
                              description: This field contains the type of service ID
                              example: DNTL
                            displayName:
                              type: string
                              description: This field contains the type of service name
                              example: DNTL service
                validateButtonText:
                  type: string
                  description: This field return button name
                  example: Validate Claim
                loaderText:
                  type: string
                  description: This field return loader text
                  example: Validating…
                dateFormat:
                  type: string
                  description: This field return date Format
                  example: yyyy-MM-dd
    reimbursementValidateClaimWidget:
      type: object
      properties:
        claimOptionsScreen:
          type: object
          properties:
            pageTitle:
              type: string
              description: This field will returns plan title text
              example: Submit Dependent Care Claim
            pageHeader:
              type: object
              properties:
                title:
                  type: string
                  description: This field will returns plan title sub text
                  example: Validate Claim
                progress:
                  type: object
                  properties:
                    totalPercentage:
                      type: string
                      description: This field contains total value of progess bar
                      example: 1
                    completedPercentage:
                      type: string
                      description: This field contains completed Value of progess bar
                      example: 0.75
                    barColor:
                      type: string
                      description: This field contains bar Color of progess bar
                      example: '#666666'
                    completedBarColor:
                      type: string
                      description: This field contains completed Color of progess bar
                      example: '#117400'
        claimSubmissionValidationModule:
          type: object
          description: This field will returns validate claim detail module
          properties:
            moduleHeader:
              type: object
              description: This field will returns module header section
              properties:
                headerTitleText:
                  type: string
                  example: 'Please choose a method for validating your claim:'
            moduleDetails:
              type: object
              properties:
                validationMethodList:
                  type: array
                  description: This is for showing all validation methods.
                  items:
                    required:
                      - methodHeaderText
                      - methodList
                    properties:
                      methodHeaderText:
                        type: string
                        description: This field contains the method Header Text
                        example: 'Recomended validation Method:'
                      methodList:
                        type: array
                        description: This field contains the method List
                        items:
                          required:
                            - titleText
                            - descriptionText
                            - claimValidateEsignatureLink
                          properties:
                            titleText:
                              type: string
                              description: This field contains the title Text
                              example: Get Provider E-Signature
                            descriptionText:
                              type: string
                              description: This field contains the description Text
                              example: >-
                                Avoid sending reciepts by having your provider
                                certify the claim with a signature on your
                                device.
                            claimValidateEsignatureLink:
                              type: object
                              description: This field contains all plan data
                              properties:
                                linkDisplayText:
                                  type: string
                                  description: This field contains link display label
                                  example: label
                                linkHref:
                                  type: string
                                  description: This field contains link href
                                  example: claimValidateEsignatureView
                                linkType:
                                  type: string
                                  description: This field contains link type
                                  example: app
                                linkTarget:
                                  type: string
                                  description: This field contains link target
                                  example: modal
                                displayLinkIcon:
                                  type: string
                                  description: This field contains display link Icon
                                  example: false
        claimReviewScreen:
          type: object
          properties:
            pageTitle:
              type: string
              description: This field will returns plan title text
              example: Submit Dependent Care Claim
            pageHeader:
              type: object
              properties:
                title:
                  type: string
                  description: This field will returns plan title sub text
                  example: Review Claim
                progress:
                  type: object
                  properties:
                    totalPercentage:
                      type: string
                      description: This field contains total value of progess bar
                      example: 1
                    completedPercentage:
                      type: string
                      description: This field contains completed Value of progess bar
                      example: 0.9
                    barColor:
                      type: string
                      description: This field contains bar Color of progess bar
                      example: '#666666'
                    completedBarColor:
                      type: string
                      description: This field contains completed Color of progess bar
                      example: '#117400'
            claimSubmissionReviewModule:
              type: object
              properties:
                moduleDetails:
                  type: object
                  description: This field will returns module header section
                  properties:
                    reviewClaimInformationList:
                      type: object
                      properties:
                        details:
                          type: array
                          description: This is for showing details.
                          items:
                            required:
                              - claimInformationLabelText
                              - claimInformationValueText
                            properties:
                              claimInformationLabelText:
                                type: string
                                description: >-
                                  This field contains the claim Information
                                  Label Text
                                example: Provider
                              claimInformationValueText:
                                type: string
                                description: >-
                                  This field contains the claim Information
                                  Value Text
                                example: Name
                    alertMessageContent:
                      type: array
                      description: >-
                        messageContents field is for showing any claim status
                        information.
                      items:
                        required:
                          - messageType
                          - messages
                          - icon
                        properties:
                          messageType:
                            type: string
                            description: This field contains message Type
                            example: warning
                          messages:
                            type: array
                            description: >-
                              messageContents field is for showing any any claim
                              status information.
                            items:
                              required:
                                - messageText
                              properties:
                                messageText:
                                  type: string
                                  description: This field contains the message Text
                                  example: >-
                                    Remember, you must send receipts or
                                    documents later, Otherwise, your claim won't
                                    be processed.
                          icon:
                            type: object
                            properties:
                              id:
                                type: string
                                description: This field contains icon ID
                                example: exclamation_circle
                              color:
                                type: string
                                description: This field contains color of the icon
                                example: icon_error
                    reviewClaimTermsAndConditions:
                      type: object
                      properties:
                        termsAndConditionText:
                          type: string
                          description: This field will returns terms And Condition Text
                          example: >-
                            By choosing Submit claim you agree to the conditions
                            for reimbursements.
                        conditionsForReimbursementLink:
                          type: object
                          properties:
                            linkDisplayText:
                              type: string
                              description: This field contains link display label
                            linkHref:
                              type: string
                              description: This field contains link href
                              example: conditionsForReimbursementView
                            linkType:
                              type: string
                              description: This field contains link type
                              example: app
                            linkTarget:
                              type: string
                              description: This field contains link target
                              example: modal
                            displayLinkIcon:
                              type: string
                              description: This field contains display link Icon
                              example: false
                    submitClaimButtonText:
                      type: string
                      description: This field contains Submit Claim button
                      example: Submit Claim
        conditionsForReimbursements:
          type: object
          properties:
            pageTitle:
              type: string
              description: This field will returns plan title text
              example: Submit a Dependent Care Claim
            conditionsHeaderText:
              type: string
              description: This field will returns conditions HeaderText
              example: Conditions for Reimbursement
            conditionsSubHeaderText:
              type: string
              description: This field will returns conditions SubHeader text
              example: >-
                I hereby certify that the expenses for which I'm requesting
                reimbursement, or for which I'm validating:
            conditionsList:
              type: array
              description: This field contains the conditions text List
              items:
                description: This field contains the conditions List Text
                example: >-
                  - Were incurred for services or supplies my eligible
                  dependents or I received through the plan, - Were for services
                  or supplies furnished on or after the date my spending account
                  takes effect
            DoneButtonText:
              type: string
              description: This field contains Done button
              example: Done
        submitClaimLoadingScreen:
          type: object
          properties:
            pageTitle:
              type: string
              description: This field will returns submit claim loading screen text
              example: Submit a Claim
            submitLoadingContents:
              type: array
              description: This is for showing details.
              items:
                required:
                  - loadingTitleText
                  - loadingBodyText
                  - loadingImageUrl
                properties:
                  loadingTitleText:
                    type: string
                    description: This field contains the loading Title Text Text
                    example: Submitting claim...
                  loadingBodyText:
                    type: string
                    description: This field contains the loading Body Text
                    example: Please wait.
                  loadingImageUrl:
                    type: string
                    description: This field contains the loading image url
                    example: >-
                      https://icon-library.com/images/google-forms-icon/google-forms-icon-15.jpg
        validateESignatureScreen:
          type: object
          properties:
            pageTitle:
              type: string
              description: This field will returns plan title text
              example: Submit Dependent Care Claim
            pageHeader:
              type: object
              properties:
                title:
                  type: string
                  description: This field will returns plan title sub text
                  example: Validate Claim
                progress:
                  type: object
                  properties:
                    totalPercentage:
                      type: string
                      description: This field contains total value of progess bar
                      example: 1
                    completedPercentage:
                      type: string
                      description: This field contains completed Value of progess bar
                      example: 0.75
                    barColor:
                      type: string
                      description: This field contains bar Color of progess bar
                      example: '#666666'
                    completedBarColor:
                      type: string
                      description: This field contains completed Color of progess bar
                      example: '#117400'
            imageUrl:
              type: string
              description: This field will returns image Url
              example: >-
                https://icon-library.com/images/google-forms-icon/google-forms-icon-15.jpg
            subHeaderText:
              type: string
              description: This field will returns sub Header Text
              example: Open the signature pad and pass your phone over to your provider
            openSignaturePadBtnText:
              type: string
              description: This field will returns open Signature Pad Button Text
              example: Open signature pad
        eSignaturePadScreen:
          type: object
          properties:
            cancelButtonText:
              type: string
              description: This field will returns cancel Button Text
              example: cancel
            doneButtonText:
              type: string
              description: This field will returns done Button Text
              example: done
            clearSignatureButtonText:
              type: string
              description: This field will returns clear Signature Button Text
              example: clear Signature
            subHeaderText:
              type: string
              description: This field will returns sub Header Text
              example: >-
                I, as the service provider representative, certify that the
                charges listed for dependent care service have been incurred for
                the dates shown below. I hereby provide my electronic signature.
            signDate:
              type: string
              description: This field will returns sign Date
              example: Signed
            typeTitle:
              type: string
              description: This field will returns type Title
              example: Tap to type
            drawButtonText:
              type: string
              description: This field will returns draw button text
              example: draw
            typeButtonText:
              type: string
              description: This field will returns type Button Text
              example: type
            signValidationText:
              type: string
              description: This field will returns sign Validation text
              example: Please sign your signature
            typeValidationText:
              type: string
              description: This field will returns type Validation Text
              example: Please enter your name
            dateformat:
              type: string
              description: This field will returns date format
              example: 'MMM d, yyyy'
            claimSubmissionReviewModule:
              type: object
              properties:
                moduleDetails:
                  type: object
                  description: This field will returns module header section
                  properties:
                    reviewClaimInformationList:
                      type: object
                      properties:
                        details:
                          type: array
                          description: This is for showing details.
                          items:
                            required:
                              - claimInformationLabelText
                              - claimInformationValueText
                            properties:
[...]
